@inject NavigationManager NavigationManager

<div class="panel">
    <div>
        <CountdownScore Team="team1"/>
    </div>
    <div class="timer @_TimerClasses">
        <KIconButton OnClick=Timer_OnClick IconName="stopwatch" Size=KIconButtonSize.Large />
        <audio id="@_AudioId" src=@($"{NavigationManager.BaseUri}sfx/countdown.mp3") @onended=@(() => _IsPlaying = false) />
    </div>
    <div>
        <CountdownScore Team="team2" />
    </div>
</div>