.letters-round-evaluator {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    .input-container {
        width: 400px;

        .dictionary-input {
            width: 100%;
            padding: 8px;
            font-family: 'Cambria Math', Consolas, var(--k-type-font-primary);
            font-size: 32px;
        }
    }

    .definitions-container {
        display: flex;
        gap: 16px;

        .definition-container {
            display: flex;
            flex-direction: column;
            width: 400px;

            .header-container {
                display: flex;
                align-items: center;
                height: 48px;
                background: var(--k-color-primary-20);
                color: var(--k-color-primary-95);
                font-size: 24px;
                padding: 8px 16px;
                font-weight: 500;
            }

            .content-container {
                background: white;
                overflow-y: auto;
                padding: 16px;
                height: 268px;
                gap: 16px;
                display: flex;
                flex-direction: column;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

                .word-container {
                    display: flex;
                    gap: 8px;
                    align-items: baseline;

                    .word {
                        font-size: 32px;
                    }

                    .phonetic {
                        color: var(--k-color-neutral-50);
                    }
                }

                .meaning {
                    display: flex;
                    flex-direction: column;

                    .part-of-speech {
                        font-style: italic;
                    }

                    .definition {
                        margin: 8px 0 0 8px;
                        position: relative;
                    }
                }
            }
        }
    }
}
