<div class="letters-round-evaluator">

    <input class="dictionary-input" type="text" placeholder="Dictionary lookup" @bind=_DictionaryInputValue @onkeyup=DictionaryInput_OnKeyUp />

    @if (_Definition != null)
    {
        <div class="definition-container">

            <div class="header">
                <span class="word">@_Definition.Word</span>
                <span class="phonetic">@_Definition.Phonetics.FirstOrDefault(x => x.Text != null)?.Text</span>
            </div>

            @foreach (var meaning in _Definition.Meanings)
            {
                <div class="meaning">
                    <div class="part-of-speech">@meaning.PartOfSpeech</div>

                    @foreach (var definition in meaning.Definitions)
                    {
                        <div class="definition">@definition.Definition</div>
                    }
                </div>
            }

        </div>
    }

</div>