<div class="numbers-round-evaluator">
    <div class="target">
        @_TargetNumber
        @if (!_ShowTargetNumber)
        {
            <div class="overlay" @onclick=@(() => _ShowTargetNumber = true)>
                TARGET
                <KIcon IconName="lock" Size=32 />
            </div>
        }
    </div>

    <input id=@_CalculatorInputId class="calculator-input" type="text" placeholder="Calculator" @bind=_CalculatorInputValue @onkeyup=CalculatorInput_OnKeyUp @oninput=DictionaryInput_OnInput />

    <div class="results-table">
        @foreach (var result in _CalculationResults)
        {
            <div>@result</div>
            <div>@(Math.Abs(result - _TargetNumber) * (-1))</div>
        }
    </div>

</div>