
@{
    var btnSize = 48;
}

<div class="container">
    <div class="btn" @onclick=SubtractScore>
        <KIcon IconName="caret-left" Size=btnSize />
    </div>
    <div class="score unselectable">
        @_Score
    </div>
    <div class="btn" @onclick=AddScore>
        <KIcon IconName="caret-right" Size=btnSize />
    </div>
</div>