@typeparam T

<div class="round">
    <div class="body">

        <div class="drawn-values">

            @for (int i = 0; i < _DrawnValues.Count(); i++)
            {
                var value = _DrawnValues[i];
                <div class="value">
                    @if (value != null)
                    {
                        @value.Value
                    }
                    @if (i == _DrawnValues.Count() - 1 && _HasDraws)
                    {
                        <div class="reset-btn">
                            <KIconButton IconName="arrow-rotate-left" Size=KIconButtonSize.Medium OnClick=@(() => Reset()) />
                        </div>
                    }
                </div>
            }
        </div>

        @if (!_AllDrawn)
        {
            <div class="draw-buttons">
                <KButton Style=KButtonStyle.Dark OnClick=@(async () => await DrawValue(ValueCategory.Primary))>
                    @_DrawPrimaryLabel
                </KButton>
                <KButton Style=KButtonStyle.Dark OnClick=@(async () => await DrawValue(ValueCategory.Secondary))>
                    @_DrawSecondaryLabel
                </KButton>
            </div>
        }

        <div class="evaluator">
            @if (_AllDrawn)
            {
                @switch (Type)
                {
                    case CountdownRoundType.Numbers:
                        <NumbersRoundEvaluator Numbers=@(_DrawnValues.Select(x => Convert.ToInt32(x.Value)).ToList()) />
                        break;
                    case CountdownRoundType.Letters:
                        <LettersRoundEvaluator Letters=@(_DrawnValues.Select(x => Convert.ToChar(x.Value)).ToList()) />
                        break;
                }
            }
        </div>
    </div>
    <div class="footer">
        <CountdownPanel />
    </div>
</div>