.round {
    display: grid;
    grid-template-rows: auto min-content;
    height: 100%;
    width: 100%;

    .body {
        display: flex;
        flex-direction: column;
        gap: 64px;
        padding: 72px 32px 32px 32px;

        .drawn-values {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 16px;

            .value {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 38px;
                width: 80px;
                height: 120px;
                background: white;
                border-top: 4px solid var(--k-color-primary-30);
                border-bottom: 4px solid var(--k-color-primary-30);

                .reset-btn {
                    position: absolute;
                    right: 0;
                    transform: translate(calc(100% + 16px), 0);
                }
            }
        }

        .evaluator {
            display: flex;
            justify-content: center;
        }

        .draw-buttons {
            display: grid;
            justify-content: center;
            grid-template-columns: repeat(auto-fit, 400px);
            gap: 16px;
        }
    }
}
